### Importing packages

In [1]:
import os

import pandas as pd

### Read the CSV file

In [2]:
FILE_NAME = "SFS KPI_08-2024.csv"
PATH_INPUT_FILE = f"inputs/{FILE_NAME}"

In [3]:
df = pd.read_csv(PATH_INPUT_FILE)
df.head()

,[IsGrandTotalRowTotal],[TotalSites],[TotalSitesActive],[NberShopActivity],[PerShopActivity],[NberFoodServicesActivity],[PerFoodServicesActivity],[NberCarServicesActivity],[PerCarServicesActivity],[NberCarWashActivity],[PerCarWashActivity],[NberHotBeverageActivity],[PerHotBeverageActivity],[NberServicesActivity],[PerServicesActivity],Geography[Zone],Geography[Sub Zone],Geography[Affiliates]
0,True,8141.0,7916.0,4808,0.590591,1633,0.200590,3116,0.382754,2710,0.332883,313,0.038447,1147,0.140892,NaN,NaN,NaN
1,False,49.0,44.0,49,1.000000,42,0.857143,37,0.755102,17,0.346939,0,0.000000,49,1.000000,AFR,ACE,Congo
2,False,44.0,43.0,41,0.931818,18,0.409091,14,0.318182,7,0.159091,0,0.000000,40,0.909091,AFR,ACE,Democratic Republic of Congo
3,False,30.0,30.0,28,0.933333,15,0.500000,11,0.366667,10,0.333333,0,0.000000,1,0.033333,AFR,ACE,Equatorial Gui.
4,False,245.0,245.0,163,0.665306,146,0.595918,221,0.902041,213,0.869388,0,0.000000,157,0.640816,AFR,ACE,Kenya

### Delete rows

In [4]:
df.drop(df[df["[IsGrandTotalRowTotal]"] == True].index, inplace=True)  # noqa: E712
df.head()

,[IsGrandTotalRowTotal],[TotalSites],[TotalSitesActive],[NberShopActivity],[PerShopActivity],[NberFoodServicesActivity],[PerFoodServicesActivity],[NberCarServicesActivity],[PerCarServicesActivity],[NberCarWashActivity],[PerCarWashActivity],[NberHotBeverageActivity],[PerHotBeverageActivity],[NberServicesActivity],[PerServicesActivity],Geography[Zone],Geography[Sub Zone],Geography[Affiliates]
1,False,49.0,44.0,49,1.000000,42,0.857143,37,0.755102,17,0.346939,0,0.0,49,1.000000,AFR,ACE,Congo
2,False,44.0,43.0,41,0.931818,18,0.409091,14,0.318182,7,0.159091,0,0.0,40,0.909091,AFR,ACE,Democratic Republic of Congo
3,False,30.0,30.0,28,0.933333,15,0.500000,11,0.366667,10,0.333333,0,0.0,1,0.033333,AFR,ACE,Equatorial Gui.
4,False,245.0,245.0,163,0.665306,146,0.595918,221,0.902041,213,0.869388,0,0.0,157,0.640816,AFR,ACE,Kenya
5,False,NaN,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,AFR,ACE,Rwanda

### Drop columns

In [5]:
drop_columns = [
    "[IsGrandTotalRowTotal]"
]

In [6]:
df.drop(columns=drop_columns, inplace=True)
df.head()

,[TotalSites],[TotalSitesActive],[NberShopActivity],[PerShopActivity],[NberFoodServicesActivity],[PerFoodServicesActivity],[NberCarServicesActivity],[PerCarServicesActivity],[NberCarWashActivity],[PerCarWashActivity],[NberHotBeverageActivity],[PerHotBeverageActivity],[NberServicesActivity],[PerServicesActivity],Geography[Zone],Geography[Sub Zone],Geography[Affiliates]
1,49.0,44.0,49,1.000000,42,0.857143,37,0.755102,17,0.346939,0,0.0,49,1.000000,AFR,ACE,Congo
2,44.0,43.0,41,0.931818,18,0.409091,14,0.318182,7,0.159091,0,0.0,40,0.909091,AFR,ACE,Democratic Republic of Congo
3,30.0,30.0,28,0.933333,15,0.500000,11,0.366667,10,0.333333,0,0.0,1,0.033333,AFR,ACE,Equatorial Gui.
4,245.0,245.0,163,0.665306,146,0.595918,221,0.902041,213,0.869388,0,0.0,157,0.640816,AFR,ACE,Kenya
5,NaN,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,AFR,ACE,Rwanda

### Renaming columns

In [7]:
renames_dict = {
    "Geography[Zone]":"[Zone]",
    "Geography[Sub Zone]":"[SubZone]",
    "Geography[Affiliates]":"[Affiliates]",
}

In [8]:
df.rename(columns = renames_dict, inplace = True)
df.head()

,[TotalSites],[TotalSitesActive],[NberShopActivity],[PerShopActivity],[NberFoodServicesActivity],[PerFoodServicesActivity],[NberCarServicesActivity],[PerCarServicesActivity],[NberCarWashActivity],[PerCarWashActivity],[NberHotBeverageActivity],[PerHotBeverageActivity],[NberServicesActivity],[PerServicesActivity],[Zone],[SubZone],[Affiliates]
1,49.0,44.0,49,1.000000,42,0.857143,37,0.755102,17,0.346939,0,0.0,49,1.000000,AFR,ACE,Congo
2,44.0,43.0,41,0.931818,18,0.409091,14,0.318182,7,0.159091,0,0.0,40,0.909091,AFR,ACE,Democratic Republic of Congo
3,30.0,30.0,28,0.933333,15,0.500000,11,0.366667,10,0.333333,0,0.0,1,0.033333,AFR,ACE,Equatorial Gui.
4,245.0,245.0,163,0.665306,146,0.595918,221,0.902041,213,0.869388,0,0.0,157,0.640816,AFR,ACE,Kenya
5,NaN,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,AFR,ACE,Rwanda

### Insert columns

In [9]:
new_columns = [
    "[NberNoShopActivity]",
    "[PerNoShopActivity]",
    "[NberNotDeclaredShopActivity]",
    "[PerNotDeclaredShopActivity]",

    "[NberNoFoodServicesActivity]",
    "[PerNoFoodServicesActivity]",
    "[NberNotDeclaredFoodServicesActivity]",
    "[PerNotDeclaredFoodServicesActivity]",

    "[NberNoHotBeverageActivity]",
    "[PerNoHotBeverageActivity]",
    "[NberNotDeclaredHotBeverageActivity]",
    "[PerNotDeclaredHotBeverageActivity]",

    "[NberNoCarServicesActivity]",
    "[PerNoCarServicesActivity]",
    "[NberNotDeclaredCarServicesActivity]",
    "[PerNotDeclaredCarServicesActivity]",

    "[NberNoCarWashActivity]",
    "[PerNoCarWashActivity]",
    "[NberNotDeclaredCarwashActivity]",
    "[PerNotDeclaredCarwashActivity]",

    "[NberNoServicesActivity]",
    "[PerNoServicesActivity]",
    "[NberNotDeclaredServicesActivity]",
    "[PerNotDeclaredServicesActivity]"
]

In [10]:
for column in new_columns:
    df.insert(loc=1, column=column, value=None, allow_duplicates=False)
df.head()

,[TotalSites],[PerNotDeclaredServicesActivity],[NberNotDeclaredServicesActivity],[PerNoServicesActivity],[NberNoServicesActivity],[PerNotDeclaredCarwashActivity],[NberNotDeclaredCarwashActivity],[PerNoCarWashActivity],[NberNoCarWashActivity],[PerNotDeclaredCarServicesActivity],...,[PerCarServicesActivity],[NberCarWashActivity],[PerCarWashActivity],[NberHotBeverageActivity],[PerHotBeverageActivity],[NberServicesActivity],[PerServicesActivity],[Zone],[SubZone],[Affiliates]
1,49.0,None,None,None,None,None,None,None,None,None,...,0.755102,17,0.346939,0,0.0,49,1.000000,AFR,ACE,Congo
2,44.0,None,None,None,None,None,None,None,None,None,...,0.318182,7,0.159091,0,0.0,40,0.909091,AFR,ACE,Democratic Republic of Congo
3,30.0,None,None,None,None,None,None,None,None,None,...,0.366667,10,0.333333,0,0.0,1,0.033333,AFR,ACE,Equatorial Gui.
4,245.0,None,None,None,None,None,None,None,None,None,...,0.902041,213,0.869388,0,0.0,157,0.640816,AFR,ACE,Kenya
5,NaN,None,None,None,None,None,None,None,None,None,...,NaN,0,NaN,0,NaN,0,NaN,AFR,ACE,Rwanda

### Reorganized columns

In [11]:
reordered_columns = [
    "[Zone]",
    "[SubZone]",
    "[Affiliates]",
    "[TotalSites]",
    "[TotalSitesActive]",
    "[NberShopActivity]",
    "[PerShopActivity]",
    "[NberNoShopActivity]",
    "[PerNoShopActivity]",
    "[NberNotDeclaredShopActivity]",
    "[PerNotDeclaredShopActivity]",
    "[NberFoodServicesActivity]",
    "[PerFoodServicesActivity]",
    "[NberNoFoodServicesActivity]",
    "[PerNoFoodServicesActivity]",
    "[NberNotDeclaredFoodServicesActivity]",
    "[PerNotDeclaredFoodServicesActivity]",
    "[NberHotBeverageActivity]",
    "[PerHotBeverageActivity]",
    "[NberNoHotBeverageActivity]",
    "[PerNoHotBeverageActivity]",
    "[NberNotDeclaredHotBeverageActivity]",
    "[PerNotDeclaredHotBeverageActivity]",
    "[NberCarServicesActivity]",
    "[PerCarServicesActivity]",
    "[NberNoCarServicesActivity]",
    "[PerNoCarServicesActivity]",
    "[NberNotDeclaredCarServicesActivity]",
    "[PerNotDeclaredCarServicesActivity]",
    "[NberCarWashActivity]",
    "[PerCarWashActivity]",
    "[NberNoCarWashActivity]",
    "[PerNoCarWashActivity]",
    "[NberNotDeclaredCarwashActivity]",
    "[PerNotDeclaredCarwashActivity]",
    "[NberServicesActivity]",
    "[PerServicesActivity]",
    "[NberNoServicesActivity]",
    "[PerNoServicesActivity]",
    "[NberNotDeclaredServicesActivity]",
    "[PerNotDeclaredServicesActivity]"
]

In [12]:
df = df.reindex(columns=reordered_columns)
print(df.columns)
df.head()

Index(['[Zone]', '[SubZone]', '[Affiliates]', '[TotalSites]',
       '[TotalSitesActive]', '[NberShopActivity]', '[PerShopActivity]',
       '[NberNoShopActivity]', '[PerNoShopActivity]',
       '[NberNotDeclaredShopActivity]', '[PerNotDeclaredShopActivity]',
       '[NberFoodServicesActivity]', '[PerFoodServicesActivity]',
       '[NberNoFoodServicesActivity]', '[PerNoFoodServicesActivity]',
       '[NberNotDeclaredFoodServicesActivity]',
       '[PerNotDeclaredFoodServicesActivity]', '[NberHotBeverageActivity]',
       '[PerHotBeverageActivity]', '[NberNoHotBeverageActivity]',
       '[PerNoHotBeverageActivity]', '[NberNotDeclaredHotBeverageActivity]',
       '[PerNotDeclaredHotBeverageActivity]', '[NberCarServicesActivity]',
       '[PerCarServicesActivity]', '[NberNoCarServicesActivity]',
       '[PerNoCarServicesActivity]', '[NberNotDeclaredCarServicesActivity]',
       '[PerNotDeclaredCarServicesActivity]', '[NberCarWashActivity]',
       '[PerCarWashActivity]', '[NberNoCarWashActivity]',
       '[PerNoCarWashActivity]', '[NberNotDeclaredCarwashActivity]',
       '[PerNotDeclaredCarwashActivity]', '[NberServicesActivity]',
       '[PerServicesActivity]', '[NberNoServicesActivity]',
       '[PerNoServicesActivity]', '[NberNotDeclaredServicesActivity]',
       '[PerNotDeclaredServicesActivity]'],
      dtype='object')

,[Zone],[SubZone],[Affiliates],[TotalSites],[TotalSitesActive],[NberShopActivity],[PerShopActivity],[NberNoShopActivity],[PerNoShopActivity],[NberNotDeclaredShopActivity],...,[NberNoCarWashActivity],[PerNoCarWashActivity],[NberNotDeclaredCarwashActivity],[PerNotDeclaredCarwashActivity],[NberServicesActivity],[PerServicesActivity],[NberNoServicesActivity],[PerNoServicesActivity],[NberNotDeclaredServicesActivity],[PerNotDeclaredServicesActivity]
1,AFR,ACE,Congo,49.0,44.0,49,1.000000,None,None,None,...,None,None,None,None,49,1.000000,None,None,None,None
2,AFR,ACE,Democratic Republic of Congo,44.0,43.0,41,0.931818,None,None,None,...,None,None,None,None,40,0.909091,None,None,None,None
3,AFR,ACE,Equatorial Gui.,30.0,30.0,28,0.933333,None,None,None,...,None,None,None,None,1,0.033333,None,None,None,None
4,AFR,ACE,Kenya,245.0,245.0,163,0.665306,None,None,None,...,None,None,None,None,157,0.640816,None,None,None,None
5,AFR,ACE,Rwanda,NaN,NaN,0,NaN,None,None,None,...,None,None,None,None,0,NaN,None,None,None,None

### Export to CSV with same input file name

In [13]:
OUTPUT_DIR = "outputs"
PATH_OUTPUT_FILE = f"{OUTPUT_DIR}/{FILE_NAME}"

In [14]:
if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

In [15]:
df.to_csv(PATH_OUTPUT_FILE, index=False)

### <p align="center">Done 🙏 !!!!!!</p>